*~
*_ROM.hex
*_ROM.ver
*_mem.hex
*_mem.ver
.dummy_ramfiles
.dummy_vopt
altera_mem_if_sequencer_cpu_no_ifdef_params_sim_cpu_inst.tr
phy_1g10g.mif
phy_1g10g.ver
altera/
lpm/
simlogs/
stratixv_pcie_hip/
stratixv_pcie_hip_ver/
vnc_logs/
VRMDATA*
transcript
.dvt*
dvt.f
dvt_build.log
getdeps.log
.project