sim/tc/C1lt/*/scn_*/*.mem.diff
sim/tc/C1lt/*/scn_*/port*.sim
sim/tc/C1lt/*/scn_*/scn_*.C1LT.wlf
sim/tc/C1lt/*/scn_*/scn_*.C1LT.log
sim/tc/C1/*/scn_*/*.mem.diff
sim/tc/C1/*/scn_*/port*.sim
sim/tc/C1/*/scn_*/scn_*.C1LT.wlf
sim/tc/C1/*/scn_*/scn_*.C1LT.log
sim/tc/C1lt/*/scn_*_exp/save
sim/tc/C1/*/scn_*_exp/save
sim/tc/C1lt/*/cfg/*.dat
sim/tc/C1/*/cfg/*.dat
sim/*_ROM.ver
sim/*_mem.ver
uvm_verif/top/*_ROM.hex
uvm_verif/top/*_ROM.ver
uvm_verif/top/*_mem.hex
uvm_verif/top/*_mem.ver

*~

doc/regdefs/clipper_top_flat.xml.autosave
doc/regdefs/clipper_top_flat_hieraddr.xml.autosave
getdeps.log
scripts/c1lt_extbuff_local_summary.txt
scripts/logs/
scripts/pdsg/pdsg_paths.tcl
scripts/pdsg/quartus_only_errors_sta_gen.tcl
scripts/pdsg/quartus_readable_sta_gen.tcl
scripts/sim/tcl/clipper_top_reg_test.py
scripts/version_file_c1lt_extbuff.dat

sim/altera_mem_if_sequencer_cpu_no_ifdef_params_sim_cpu_inst.tr
src/pkg/c1lt_cfg_synt_pkg.vhd
src/pkg/version_c1lt_cst_pkg.vhd
uvm_verif/top/.dummy_ramfiles
uvm_verif/top/.dummy_vopt
uvm_verif/top/altera/
uvm_verif/top/altera_mem_if_sequencer_cpu_no_ifdef_params_sim_cpu_inst.tr
uvm_verif/top/lpm/
uvm_verif/top/phy_1g10g.mif
uvm_verif/top/phy_1g10g.ver
uvm_verif/top/simlogs/
uvm_verif/top/stratixv_pcie_hip/
uvm_verif/top/stratixv_pcie_hip_ver/

sim/vnc_logs/
scripts/vnc_logs/
uvm_verif/top/vnc_logs
vnc_logs
